body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h5 {
	font-weight: 400;
	text-transform: uppercase;
}
h6 {
	margin-bottom: 0;
}
.container {
	padding: 20px 0;
}
#map {
	height: 500px;
}
#countryModal .modal-dialog {
	width: 850px;
}
#countryModal .modal-body .overview {
	border-right: 1px solid #e5e5e5;
}
.no-data {
    cursor: -webkit-grab !important;
}
.exp-total span,
.exp-percapita span {
	font-size: 28px;
}
#cookingChart,
#lightingChart {
	margin-bottom: 20px;
	text-align: center;
}
.c3-legend-item, .c3-chart-arc text {
	font-family: 'Source Sans Pro', sans-serif;
}
.c3-title {
	font: 14px 'Source Sans Pro', sans-serif !important;
	text-transform: capitalize;
}
.camp {
	font-size: 12px;
	margin-top: 10px;
}
.info-labels {
	padding-top: 4px;
	text-transform: capitalize;
}
.info .c3-chart-arc text {
	display: none;
}
.info .cooking,
.info .lighting {
	padding-top: 12px;
}