body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h5 {
	font-weight: 400;
	margin-top: 0;
	text-transform: uppercase;
}
h6 {
	margin-bottom: 0;
}
.viz-container {
    width: 1170px;
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
}
#map {
	height: 500px;
}
#mapLegend {
	background-color: rgba(255, 255, 255, 0.9);
	bottom: 10px;
	height: 175px;
	left: 25px;
	padding: 10px;
	position: absolute;
	width: 180px;
	z-index: 400;
}
#mapLegend ul {
    list-style: none;
    padding-left: 0;
}
#mapLegend li {
	font-size: 12px;
    line-height: 20px;
    margin-bottom: 2px;
}
#mapLegend .color {
    float: left;
    height: 20px;
    margin-right: 5px;
	width: 35px;
}
.no-data {
    cursor: -webkit-grab !important;
}
#countryModal .modal-header {
	padding: 10px 15px;
}
#countryModal .modal-dialog {
	width: 900px;
}
#countryModal .modal-body {
	max-height: 700px;
	overflow: scroll;
}
#countryModal .modal-body .overview {
	border-right: 1px solid #e5e5e5;
}
.exp-total span,
.exp-percapita span,
.overview-population span {
	font-size: 28px;
}
#cookingChart,
#lightingChart {
	text-align: center;
}
.c3-legend-item, .c3-chart-arc text {
	font-family: 'Source Sans Pro', sans-serif;
}
.c3-title {
	font: 14px 'Source Sans Pro', sans-serif !important;
	text-transform: capitalize;
}
.camp {
	font-size: 12px;
	margin-top: 10px;
}
.camp:first-child {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 12px;
}
.info-labels {
	padding-top: 4px;
	text-transform: capitalize;
}
.info .c3-chart-arc text {
	display: none;
}
.info .cooking,
.info .lighting {
	padding-top: 10px;
}
#legend ul {
	font-size: 12px;
	list-style: none;
	padding-left: 0;
	padding-top: 5px;
	text-align: left;
}
#legend li .square {
	display: inline-block;
	margin-right: 4px;
	height: 8px;
	width: 8px;
}
#legend {
	margin-top: 10px;
}
.modal-header .close {
	margin-top: 6px;
}
.form-link {
	padding-right: 30px;
	padding-top: 7px;
}
.divider {
	padding-bottom: 12px;
	border-bottom: 1px solid #ccc;
}
.overview-lighting {
	padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .viz-container {
    	padding: 20px;
    	width: 100%;
    }
	#countryModal .modal-dialog {
		width: 100%;
	}
	#countryModal .modal-body .info {
		margin-top: 20px;
	}
	.exp-percapita {
		padding-right: 9px;
	}
	.info .cooking,
	.info .lighting {
		padding-right: 14px;
		padding-top: 9px;
	}
	.overview-lighting,
	.overview-cooking {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 414px) {
	.overview-lighting,
	.overview-cooking {
		margin-bottom: 0px;
	}
}